<div class="container">
    <div class="sidebar">
        <figure style="background-image: url('{{ coverimage }}');"></figure>
        <span id="print"><i class="icon-print"></i> Printen</span>
        <span id="email"><i class="icon-email"></i> E-mailen </span>
    </div>

    <div class="maincontent">
        <div class="close" id="close">
            <img src="img/icon-close.svg" alt="X">
        </div>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <div class="meta">
            <span class="author"><i class="icon-author"></i> {{ author }}</span>
            <span class="genre"><i class="icon-genre"></i> {{ genres }}</span>
        </div>
    </div>
</div>